 <style>
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
  }
  .header {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  .nav {
    background-color: #333;
    overflow: hidden;
  }
  .nav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .nav a:hover {
    background-color: #ddd;
    color: black;
  }
  .row {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  .column {
    flex: 1;
    padding: 10px;
    margin-bottom: 50px; /* Added space between the columns */
  }
  .column img {
    width: 320px; /* Set width */
    height: 480px; /* Set height */
    border-radius: 40px; /* Rounded corners */
    margin-bottom: 50px; /* Added space below each image */
  }
  /* Hover effect for images */
  .column img:hover {
    opacity: 0.8; /* Example effect: slightly transparent on hover */
  }
  /* Hover effect for all clickable elements */
  a:hover, .footer:hover {
    background-color: #555; /* Darkens the background */
    color: #fff; /* Change text color to white */
  }
  .footer {
    background-color: #000;
    color: white;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
</style>
